@import 'override';
@import 'utility';
@import 'utility_colors';
@import 'login';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fcfcfc;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background: darken(#ddd, 20%);
  }
}

.img-fullsize {
  * {
    width: auto !important;
    height: auto !important;
  }
}
.nav {
flex-grow: 1;
}
.nav .menuButton {
  margin-right: 1px;
}
.nav .title {
  flex-grow: 0;
}
.navimg {
  width: 50px;
  height: 50px;
}
.paper {
position: relative;
}
.navbar-page1 {
  display: flex;
height: 100vh -10px;
  width: 100%;
  justify-content: center;
}
.cont {
  display: flex;
align-content: center;
height: 80vh;
width: 100%;
}